<% include partials/header%>
<div class="container">
    <h1>
    <div><strong>
        <%=campground.name%>
        </strong>
    </div>
    </h1>
    <div>
        <img src = "<%=campground.img%>" >
    </div>
    <%=campground.description%>
    
    
    

</div>
<% include partials/footer%>